Repository Oasis-SS13/Oasis-SS13, pull requests merged in 2021-04, with the labels that each got.

#876 [MIRROR] Adds help button back
  tgui/packages/tgui/interfaces/PaperSheet.js
  tgui/public/tgui.bundle.js
Labels: TGUI-Changes

#892 [MIRROR] Gimmick highlighting respects no chat colours.
  tgui/packages/tgui-panel/chat/renderer.js
  tgui/packages/tgui-panel/styles/goon/chat-dark.scss
  tgui/packages/tgui-panel/styles/goon/chat-light.scss
  tgui/public/tgui-panel.bundle.js
Labels: TGUI-Changes

#992 [MIRROR] attempts to bring supply pod's code up to date + updates adminbuse pod launcher tgui
  _maps/map_files/generic/CentCom.dmm
  code/__DEFINES/cargo.dm
  code/__DEFINES/is_helpers.dm
  code/__DEFINES/obj_flags.dm
  code/game/area/areas/centcom.dm
  code/game/atoms.dm
  code/game/objects/effects/misc.dm
  code/game/objects/items/miscellaneous.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/modules/admin/admin.dm
  code/modules/admin/battle_royale.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/antagonists/traitor/equipment/contractor.dm
  code/modules/antagonists/traitor/syndicate_contract.dm
  code/modules/asset_cache/asset_list_items.dm
  code/modules/cargo/centcom_podlauncher.dm
  code/modules/cargo/expressconsole.dm
  code/modules/cargo/gondolapod.dm
  code/modules/cargo/supplypod.dm
  icons/effects/supplypod_pickturf.dmi
  icons/effects/supplypod_pickturf_down.dmi
  icons/mob/gondolapod.dmi
  icons/obj/supplypods.dmi
  icons/obj/supplypods_32x32.dmi
  tgui/package.json
  tgui/packages/tgui-dev-server/package.json
  tgui/packages/tgui/components/Button.js
  tgui/packages/tgui/components/DraggableControl.js
  tgui/packages/tgui/components/Flex.js
  tgui/packages/tgui/components/Knob.js
  tgui/packages/tgui/components/LabeledControls.js
  tgui/packages/tgui/components/Section.js
  tgui/packages/tgui/components/Tooltip.js
  tgui/packages/tgui/drag.js
  tgui/packages/tgui/interfaces/CentcomPodLauncher.js
  tgui/packages/tgui/package.json
  tgui/packages/tgui/styles/components/Section.scss
  tgui/packages/tgui/styles/components/Tooltip.scss
  tgui/public/tgui-common.chunk.js
  tgui/public/tgui-panel.bundle.css
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui.bundle.css
  tgui/public/tgui.bundle.js
  tgui/yarn.lock
Labels: Administration, Sprites, TGUI-Changes, mapping

#1027 [MIRROR] Ports tgui lists
  beestation.dme
  code/__HELPERS/files.dm
  code/__HELPERS/unsorted.dm
  code/_onclick/hud/ai.dm
  code/datums/mind.dm
  code/datums/mutations/actions.dm
  code/game/atoms.dm
  code/game/gamemodes/objective.dm
  code/game/machinery/camera/tracking.dm
  code/game/machinery/hologram.dm
  code/game/objects/items/holy_weapons.dm
  code/modules/mob/living/simple_animal/bot/mulebot.dm
  code/modules/modular_computers/computers/item/computer.dm
  code/modules/shuttle/assault_pod.dm
  code/modules/spells/spell_types/area_teleport.dm
  code/modules/surgery/helpers.dm
  code/modules/tgui/tgui_input_list.dm
  tgui/packages/tgui/interfaces/ListInput.js
  tgui/packages/tgui/styles/interfaces/ListInput.scss
  tgui/packages/tgui/styles/main.scss
  tgui/public/tgui-common.chunk.js
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui.bundle.css
  tgui/public/tgui.bundle.js
Labels: TGUI-Changes

#1048 [MIRROR] TG PORT: Folder TGUI
  beestation.dme
  code/modules/paperwork/folder_premade.dm
  code/modules/paperwork/folders.dm
  code/modules/paperwork/paper.dm
  tgui/packages/tgui/interfaces/Folder.js
  tgui/public/tgui-common.chunk.js
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui.bundle.js
Labels: TGUI-Changes

#1050 [MIRROR] Stat panel updates
  code/modules/admin/verbs/adminhelp.dm
  code/modules/admin/verbs/adminpm.dm
  code/modules/mob/mob_stat.dm
  tgui/packages/tgui-panel/stat/StatStatus.js
  tgui/packages/tgui-panel/stat/StatTabs.js
  tgui/packages/tgui-panel/stat/StatText.js
  tgui/packages/tgui-panel/stat/StatTicket.js
  tgui/packages/tgui-panel/styles/components/Stat.scss
  tgui/public/tgui-common.chunk.js
  tgui/public/tgui-panel.bundle.css
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui.bundle.js
Labels: Administration, TGUI-Changes

#1082 Tgui list fixes
  tgui/packages/tgui/interfaces/ListInput.js
  tgui/public/tgui-common.chunk.js
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui.bundle.js
Labels: TGUI-Changes

#982 Miners and fixes for SvS
  Oasis/code/modules/stationversusstation/jobspawns.dm
  Oasis/code/modules/stationversusstation/machines.dm
  Oasis/code/modules/stationversusstation/svs_job.dm
  Oasis/code/modules/stationversusstation/tcomms_presets.dm
  OasisStation.dme
  _maps/RandomRooms/Middle/no_mans_land1.dmm
  _maps/_basemap.dm
  _maps/map_files/FacingWorlds/FacingWorlds.dmm
  _maps/map_files/Mining/Lavaland-SvS.dmm
  _maps/shuttles/labour_box.dmm
  _maps/shuttles/svs_blue.dmm
  _maps/shuttles/svs_red.dmm
  beestation.dme
  code/controllers/subsystem/mapping.dm
  code/datums/shuttles.dm
  code/game/area/areas/shuttles.dm
  code/game/objects/items/circuitboards/computer_circuitboards.dm
  code/game/objects/items/tools/crowbar.dm
  code/modules/clothing/spacesuits/miscellaneous.dm
  code/modules/jobs/job_types/_job.dm
  code/modules/jobs/jobs.dm
  code/modules/mining/mine_items.dm
  code/modules/vehicles/secway.dm
  code/modules/vehicles/vehicle_key.dm
  icons/mob/suit.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/tools.dmi
  icons/obj/vehicles.dmi
Labels: Balance/Rebalance, DO NOT MERGE, Feature, Fix, Needs Review, Sprites, mapping

#1113 [MIRROR] Updates tracked playtime menu
  beestation.dme
  code/modules/admin/verbs/randomverbs.dm
  code/modules/client/verbs/ooc.dm
  code/modules/jobs/job_exp.dm
  code/modules/jobs/job_report.dm
  tgui/packages/tgui/interfaces/TrackedPlaytime.js
  tgui/public/tgui-common.chunk.js
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui.bundle.js
Labels: Administration, TGUI-Changes

#1179 [MIRROR] Port the new hijack from TG, created by citadel.
  _maps/shuttles/emergency_construction.dmm
  code/__DEFINES/antagonists.dm
  code/__HELPERS/text.dm
  code/datums/mind.dm
  code/game/gamemodes/objective.dm
  code/modules/antagonists/_common/antag_datum.dm
  code/modules/antagonists/brother/brother.dm
  code/modules/antagonists/changeling/changeling.dm
  code/modules/antagonists/eldritch_cult/eldritch_antag.dm
  code/modules/antagonists/ert/ert.dm
  code/modules/antagonists/highlander/highlander.dm
  code/modules/antagonists/incursion/incursion.dm
  code/modules/antagonists/ninja/ninja.dm
  code/modules/antagonists/nukeop/nukeop.dm
  code/modules/antagonists/official/official.dm
  code/modules/antagonists/traitor/datum_traitor.dm
  code/modules/antagonists/wishgranter/wishgranter.dm
  code/modules/antagonists/wizard/wizard.dm
  code/modules/shuttle/emergency.dm
Labels: mapping

#1164 adds Zulustation
  _maps/_basemap.dm
  _maps/map_files/ZuluStation/ZuluStation.dmm
  _maps/zulustation.json
  config/Sage/maps.txt
  config/maps.txt
Labels: Config Update, mapping

#1195 [MIRROR] Playable Mobs
  beestation.dme
  code/__DEFINES/admin.dm
  code/__DEFINES/mobs.dm
  code/datums/diseases/transformation.dm
  code/datums/mind.dm
  code/game/gamemodes/dynamic/dynamic_rulesets_midround.dm
  code/game/machinery/cryopod.dm
  code/game/machinery/exp_cloner.dm
  code/game/objects/effects/anomalies.dm
  code/game/objects/effects/spiders.dm
  code/game/objects/items/chrono_eraser.dm
  code/game/objects/items/cursed_necklace.dm
  code/modules/VR/vr_human.dm
  code/modules/admin/admin.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/secrets.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/antagonists/_common/antag_datum.dm
  code/modules/antagonists/blob/blob_mobs.dm
  code/modules/antagonists/cult/runes.dm
  code/modules/antagonists/eldritch_cult/eldritch_effects.dm
  code/modules/antagonists/eldritch_cult/eldritch_knowledge.dm
  code/modules/antagonists/eldritch_cult/knowledge/flesh_lore.dm
  code/modules/antagonists/revenant/revenant.dm
  code/modules/antagonists/wizard/equipment/artefact.dm
  code/modules/awaymissions/mission_code/Academy.dm
  code/modules/client/verbs/suicide.dm
  code/modules/events/carp_migration.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/carbon/alien/larva/larva.dm
  code/modules/mob/living/carbon/human/suicides.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_defines.dm
  code/modules/mob/living/living_sentience.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/simple_animal/hostile/giant_spider.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/colossus.dm
  code/modules/mob/living/simple_animal/slime/slime.dm
  code/modules/mob/login.dm
  code/modules/mob/mob_helpers.dm
Labels: Administration
